/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #000;
}

/* Header */
header {
  background: #000;
  color: #f7f7f7;
  padding: 1em 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Permet de garder le logo à gauche et de centrer les éléments restants */
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: auto; /* Assure que le logo reste à gauche */
}

header nav {
  display: flex;
  gap: 10px;
  flex-grow: 1; /* Permet de prendre l'espace restant pour centrer le nav */
  justify-content: center; /* Centre les liens de navigation */
}

header nav a {
  color: #f7f7f7;
  text-decoration: none;
}

/* Image Section */
.image-section .header-image {
  width: 30%;
  height: auto;
  display: block;
}

.image-section .image-and-text {
  display: flex;
  align-items: center;
}

.image-section .text-content {
  margin-left: 20px; /* Ajustez la marge selon vos besoins */
}

/* Style pour le texte dans .image-section */
.image-section .text-content h2 {
  font-family: 'Arial', sans-serif; /* Police pour le titre */
  font-size: 3em; /* Taille de la police pour le titre */
  font-weight: bold; /* Poids de la police pour le titre */
  color: #333; /* Couleur du titre */
  margin-bottom: 20px; /* Espace sous le titre */
}

.image-section .text-content p {
  font-family: 'Arial', sans-serif; /* Police pour les paragraphes */
  font-size: 1.2em; /* Taille de la police pour les paragraphes */
  color: #555; /* Couleur des paragraphes */
  line-height: 1.6; /* Hauteur de ligne pour les paragraphes */
  margin-bottom: 10px; /* Espace sous les paragraphes */
}

/* Style pour le bouton .btn-cta */
.btn-cta {
  background-color: #028181;
  color: #f7f7f7;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition pour l'effet au survol */
}

.btn-cta:hover {
  background-color: #026666; /* Couleur de fond au survol */
}

/* Features Section */
.features {
  padding: 20px 0;
  text-align: center;
}

.features h2 {
  margin-bottom: 20px;
}

.feature-card {
  background: #028181;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px; /* Espace entre les cartes */
  transition: transform 0.3s; /* Animation au survol */
}

.feature-card:hover {
  transform: translateY(-5px); /* Légère élévation au survol */
}

@media (max-width: 200px) {
    .feature-card {
        margin-bottom: 20px; /* Espacement sur les petits écrans */
    }
}

/* Testimonials Section */
.testimonials {
  background: #f7a493;
  color: #f7f7f7;
  padding: 50px 0;
  text-align: center;
}

.testimonials h2 {
  margin-bottom: 20px;
}

.testimonial p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* CTA Section */
.cta {
  padding: 30px 0;
  text-align: center;
}

.cta h2 {
  margin-bottom: 20px;
}

/* Style pour le conteneur cta-content */
.cta-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espace entre le bouton et l'image */
}

/* Style pour l'image dans la section cta */
.cta-image {
  width: 150px; /* Ajustez la taille selon vos besoins */
  height: auto;
  cursor: pointer; /* Change le curseur pour indiquer que l'image est cliquable */
}

/* Footer */
footer {
  background: #000;
  color: #f7f7f7;
  text-align: center;
  padding: 10px 0;
}

footer nav a {
  color: #f7f7f7;
  margin: 0 10px;
  text-decoration: none;
}
